<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
<div layout:fragment="content">
    <h3>Cocktail Finder - Cocktail Administration</h3>

    <div class="row grid-divider">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="cocktailCocktailName">Cocktail</label>
                <input id="cocktailCocktailName" type="text" class="form-control"/>
            </div>
            <button id="cocktailCocktailSave" type="submit" class="btn btn-default">Speichern</button>
        </div>
        <div class="col-sm-3">
            <select id="cocktailAllZutaten" th:field="*{zutaten}" class="form-control" multiple="multiple">
                <option th:each="zutat : ${zutaten}" th:value="${zutat.name}"
                        th:text="${zutat.name}"></option>
            </select>
        </div>
        <div class="col-sm-1">
            <button id="cocktailAddZutat" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <br/>
            <button id="zutatRemoveZutat" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-sm-3">
            <select id="cocktailSelectedZutaten" class="form-control" multiple="multiple">

            </select>
        </div>
        <div class="col-sm-12">
            <table id="cocktailCocktailTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Zutaten</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>