<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title>Cocktail Finder</title>
</head>
<!--/*@thymesVar id="zutat" type="org.graf.model.Zutat"*/-->
<!--/*@thymesVar id="zutaten" type="java.util.List<Zutat>"*/-->
<body>
<div class="container">
    <h3>Cocktail Finder</h3>

    <select id="zutaten" th:field="*{zutaten}" class="form-control"
            multiple="multiple">
        <option th:each="zutat : ${zutaten}" th:value="${zutat.zutat}"
                th:text="${zutat.zutat}"></option>
    </select>


    <table id="cocktailTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Zutaten</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>