<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

<body>
<div layout:fragment="content">
    <h3>Cocktail Finder</h3>

    <select id="cocktailsZutaten" th:field="*{zutaten}" class="form-control"
            multiple="multiple">
        <option th:each="zutat : ${zutaten}" th:value="${zutat.name}"
                th:text="${zutat.name}"></option>
    </select>


    <table id="cocktailsCocktailTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Zutaten</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>