<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title>Cocktail Finder</title>
</head>
<body>
<div class="container">
<div th:if="${currentUser == null}">
<a id="loginLink" href="#">Login</a>
</div>
<div th:if="${currentUser != null}">
    <form id="logoutForm" th:action="@{/logout}" method="post">
        <a id="logoutLink" href="#">Logout</a>
    </form>
</div>

<div id="loginDiv" style="display: none;">
    <form role="form" th:action="@{/login}" method="post">
        <div>
            <label for="username">User Name</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
        </div>
        <button type="submit">Sign in</button>
    </form>
</div>


    <ul class="nav nav-tabs" th:if="${currentUser != null}">
        <!-- Other links -->
        <li role="presentation" th:class="${classActiveHome}">
            <a th:href="@{/}">Home</a>
        </li>
        <li role="presentation" th:class="${classActiveCocktail}">
            <a th:href="@{/cocktails}">Cocktails</a>
        </li>
        <li role="presentation" th:class="${classActiveZutaten}">
            <a th:href="@{/zutaten}">Zutaten</a>
        </li>
    </ul>
    <div layout:fragment="content">
    </div>
</div>
</body>
</html>