<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title>Cocktail Finder</title>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <!-- Other links -->
        <li role="presentation" th:class="${classActiveHome}">
            <a th:href="@{/}">Home</a>
        </li>
        <li role="presentation" th:class="${classActiveCocktail}">
            <a th:href="@{/cocktails}">Cocktails</a>
        </li>
        <li role="presentation" th:class="${classActiveZutaten}">
            <a th:href="@{/zutaten}">Zutaten</a>
        </li>
    </ul>
    <div layout:fragment="content">
    </div>
</div>
</body>
</html>