<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title>Cocktail Finder</title>
</head>
<body>
<div class="container">
    <div th:include="login_fragment :: login"></div>
</div>
</body>
</html>